
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>千秋一梦网站首页</title>

    <link href="~/Content/PetIndex/vendor.min.css" rel="stylesheet" />
    <link href="~/Content/PetIndex/plugins.min.css" rel="stylesheet" />
    <link href="~/Content/PetIndex/style.min.css" rel="stylesheet" />

    <link href="~/Content/iconfont.css" rel="stylesheet" />
    <script src="~/Scripts/iconfont.js"></script>

    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@


</head>
<body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
    <div class="header section">
        <div class="header-top bg-name-primary">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="header-top-msg-wrapper">
                            <p class="header-top-message">欢迎来到一梦网站</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="header-top-settings">
                            <ul class="nav">
                                <li class="current-wrap">
                                    <a href="/login/index" class="logib">登录</a>
                                    <a href="/login/regisetrIndex" style="margin-left:5px">注册</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom">
            <div class="header-sticky">
                <div class="container">
                    <div class="row align-items-center position-relative">
                        <div class="col-lg-3 col-md-4 col-6">
                            <div class="header-logo">
                                <a href="#">
                                    <img src="~/Content/PetIndex/PetIndexImage/log.png" />
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="main-menu">
                                <ul>
                                    <li class="has-children">
                                        <a href="#">首页</a>
                                    </li>
                                    <li class="has-children position-static">
                                        <a href="#">宠物商店</a>
                                        <ul class="mega-menu">
                                            <li class="mega-menu-col">
                                                <h4 class="mega-menu-title">食物</h4>
                                                <ul class="m-b-n10">
                                                    <li><a href="shop.html">猫咪食物</a></li>
                                                    <li><a href="shop-left-sidebar.html">狗狗食物</a></li>
                                                    <li><a href="shop-right-sidebar.html">小宠食物</a></li>
                                                    <li><a href="shop-list-fullwidth.html">水族食物</a></li>
                                                    <li><a href="shop-list-left-sidebar.html">爬宠食物</a></li>
                                                    <li><a href="shop-list-right-sidebar.html">鸟宠食物</a></li>
                                                    <li><a href="shop-list-right-sidebar.html">其他</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-menu-col">
                                                <h4 class="mega-menu-title">玩具</h4>
                                                <ul class="m-b-n10">
                                                    <li><a href="single-product.html">猫咪玩具</a></li>
                                                    <li><a href="single-product-sale.html">狗狗玩具</a></li>
                                                    <li><a href="single-product-variable.html">小宠玩具</a></li>
                                                    <li><a href="single-product-countdown.html">爬宠玩具</a></li>
                                                    <li><a href="single-product-affiliate.html">水族玩具</a></li>
                                                    <li><a href="single-product-slider.html">鸟宠玩具</a></li>
                                                    <li><a href="single-product-slider.html">其他</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-menu-col">
                                                <h4 class="mega-menu-title">药品</h4>
                                                <ul class="m-b-n10">
                                                    <li><a href="my-account.html">猫咪药品</a></li>
                                                    <li><a href="login.html">狗狗药品</a></li>
                                                    <li><a href="wishlist.html">小宠药品</a></li>
                                                    <li><a href="cart.html">爬宠药品</a></li>
                                                    <li><a href="checkout.html">水族药品</a></li>
                                                    <li><a href="compare.html">鸟宠药品</a></li>
                                                    <li><a href="compare.html">其他药品</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-menu-col">
                                                <div class="megamenu-image">
                                                    <a href="shop.html">
                                                        <img class="fit-image" src="~/Content/PetIndex/PetIndexImage/yiwu.png" alt="Megamenu Image">
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">宠物</a>
                                        <ul class="sub-menu">
                                            <li><a href="about.html">猫咪</a></li>
                                            <li><a href="contact.html">狗狗</a></li>
                                            <li><a href="error-404.html">小宠</a></li>
                                            <li><a href="faq.html">爬宠</a></li>
                                            <li><a href="login.html">水族</a></li>
                                            <li><a href="register.html">鸟宠</a></li>
                                            <li><a href="register.html">其他</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="#">宠物视频</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog.html">猫咪视频</a></li>
                                            <li><a href="blog-left-sidebar.html">狗狗视频</a></li>
                                            <li><a href="blog-right-sidebar.html">小宠视频</a></li>
                                            <li><a href="blog-details.html">爬宠视频</a></li>
                                            <li><a href="blog-details-sidebar.html">鸟宠视频</a></li>
                                            <li><a href="blog-details-sidebar.html">其他视频</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">宠物趣事</a></li>
                                    <li><a href="contact.html">宠物问答</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="header-actions">
                                <div class="header-action-btn header-action-btn-search d-none d-md-flex">
                                    <div class="action-execute">
                                        <a class="action-search-open" href="javascript:void(0)"><i class="iconfont">&#xe651;</i></a>
                                        <a class="action-search-close" href="javascript:void(0)"><i class="iconfont">&#xeb6a;</i></a>
                                    </div>

                                    <form class="header-search-form" action="#">
                                        <input type="text" class="header-search-input" placeholder="请输入搜索内容">
                                        <button class="header-search-button"><i class="iconfont">&#xe651;</i></button>
                                    </form>

                                </div>

                                <a href="my-account.html" class="header-action-btn header-action-btn-wishlist">
                                    <i class="iconfont">&#xe6a4;</i>
                                </a>

                                <div class="header-action-btn header-action-btn-cart d-none d-sm-flex">
                                    <a class="cart-visible" href="javascript:void(0)">
                                        <i class="iconfont">&#xe649;</i>
                                        <span class="header-action-num">3</span>
                                    </a>
                                    <div class="header-cart-content">
                                        <div class="cart-product-wrapper">
                                            <div class="cart-product-inner p-b-20 m-b-20 border-bottom">
                                                <div class="single-cart-product">
                                                    <div class="cart-product-thumb">
                                                        <a href="single-product.html">
                                                            <img src="~/Content/PetIndex/PetIndexImage/1.jpg" />
                                                        </a>
                                                    </div>
                                                    <div class="cart-product-content">
                                                        <h3 class="title"><a href="single-product.html">相思鸟</a></h3>
                                                        <div class="product-quty-price">
                                                            <span class="cart-quantity">数量: <strong> 1 </strong></span>
                                                            <span class="price">
                                                                <span class="new">￥1666.66</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cart-product-remove">
                                                    <a href="#/"><i class="iconfont">&#xf01f1;</i></a>
                                                </div>

                                            </div>
                                            <div class="cart-product-inner p-b-20 m-b-20 border-bottom">
                                                <div class="single-cart-product">
                                                    <div class="cart-product-thumb">
                                                        <a href="single-product.html">
                                                            <img src="~/Content/PetIndex/PetIndexImage/2.png" />
                                                        </a>
                                                    </div>
                                                    <div class="cart-product-content">
                                                        <h3 class="title"><a href="single-product.html">家养雪貂</a></h3>
                                                        <div class="product-quty-price">
                                                            <span class="cart-quantity">数量: <strong> 1 </strong></span>
                                                            <span class="price">
                                                                <span class="new">￥1888.88</span>
                                                            </span>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="cart-product-remove">
                                                    <a href="#/"><i class="iconfont">&#xf01f1;</i></a>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="cart-product-total p-b-20 m-b-20 border-bottom">
                                            <span class="value">总价</span>
                                            <span class="price">￥3,555.54</span>
                                        </div>
                                        <div class="cart-product-btn m-t-20">
                                            <a href="cart.html" class="btn btn-outline-light btn-hover-primary w-100">查看购物车</a>
                                            <a href="checkout.html" class="btn btn-outline-light btn-hover-primary w-100 m-t-20">结算</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="header-action-btn header-action-btn-cart d-flex d-sm-none">
                                    <a href="cart.html">
                                        <i class="icon-handbag icons"></i>
                                        <span class="header-action-num">3</span>
                                    </a>
                                </div>
                                <a href="javascript:void(0)" class="header-action-btn header-action-btn-menu d-lg-none d-md-flex">
                                    <i class="icon-menu"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="hero-slider swiper-container">
            <div class="swiper-wrapper">

                <div class="hero-slide-item swiper-slide">
                    <div class="hero-slide-bg">
                        <img src="~/Content/PetIndex/PetIndexImage/pet1.jpg" alt="Slider Image" />
                    </div>
                    <div class="container">
                        <div class="hero-slide-content text-start">
                            <h5 class="sub-title">我们养宠物是为了丰富生活与陪伴</h5>
                            <h2 class="title m-0">我们提供了宠物的一些用品</h2>
                            <p class="ms-0">当你为你的宠物寻找食物或者药物时，我们知道你的担忧</p>
                            <a href="shop.html" class="btn btn-dark btn-hover-primary">立即购物</a>
                        </div>
                    </div>
                </div>

                <div class="hero-slide-item swiper-slide">
                    <div class="hero-slide-bg">
                        <img src="~/Content/PetIndex/PetIndexImage/pet2.jpg" alt="Slider Image" />
                    </div>
                    <div class="container">
                        <div class="hero-slide-content text-center text-md-end">
                            <h5 class="sub-title">我们养宠物是为了丰富生活与陪伴</h5>
                            <h2 class="title m-0">我们提供了宠物的一些用品</h2>
                            <p>当你为你的宠物寻找食物或者药物时，我们知道你的担忧</p>
                            <a href="shop.html" class="btn btn-dark btn-hover-primary">立即购物</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination d-lg-none"></div>

            <div class="home-slider-prev swiper-button-prev main-slider-nav d-lg-flex d-none"><i class="iconfont">&#xeb15;</i></div>
            <div class="home-slider-next swiper-button-next main-slider-nav d-lg-flex d-none"><i class="iconfont">&#xe61f;</i></div>

        </div>
    </div>

    <div class="section section-padding">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 m-b-n30">

                <div class="col m-b-30" data-aos="fade-up" data-aos-duration="1000">
                    <div class="single-cta-wrapper">
                        <div class="cta-icon">
                            <i style="font-size: 40px;" class="iconfont">&#xe608;</i>
                        </div>
                        <div class="cta-content">
                            <h4 class="title">免费送货</h4>
                            <p>所有订单免运费</p>
                        </div>
                    </div>
                </div>
                <div class="col m-b-30" data-aos="fade-up" data-aos-duration="1100">
                    <div class="single-cta-wrapper">
                        <div class="cta-icon">
                            <i style="font-size: 40px;" class="iconfont">&#xea0a;</i>
                        </div>
                        <div class="cta-content">
                            <h4 class="title">在线支持</h4>
                            <p>全天候在线实时支持</p>
                        </div>
                    </div>
                </div>

                <div class="col m-b-30" data-aos="fade-up" data-aos-duration="1200">
                    <div class="single-cta-wrapper">
                        <div class="cta-icon">
                            <i style="font-size: 40px;" class="iconfont">&#xe626;</i>
                        </div>
                        <div class="cta-content">
                            <h4 class="title">退款</h4>
                            <p>5天以下的延期担保</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section position-relative">
        <div class="container">
            <div class="row" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-12">
                    <ul class="product-tab-nav nav justify-content-center m-b-n15 p-b-40 title-border-bottom">
                        <li class="nav-item m-b-15"><a class="nav-link active" data-bs-toggle="tab" href="#tab-product-all">畅销</a></li>
                        <li class="nav-item m-b-15"><a class="nav-link" data-bs-toggle="tab" href="#tab-product-featured">打折</a></li>
                        <li class="nav-item m-b-15"><a class="nav-link" data-bs-toggle="tab" href="#tab-product-all">新品</a></li>
                    </ul>
                </div>
            </div>

            <div class="row" data-aos="fade-up" data-aos-duration="1100">
                <div class="col-12">
                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="tab-product-all">
                            <div class="row m-b-n40">
                                <div class="col-12 col-sm-6 col-lg-3 product-wrapper m-b-40">
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img src="~/Content/PetIndex/Product/1.png" />
                                            </a>
                                            <span class="badges">
                                                <span class="sale">-18%</span>
                                            </span>
                                            <div class="action-wrapper">
                                                <a href="#/" class="action quickview" data-bs-toggle="modal" data-bs-target="#quick-view" title="Quickview"><i class="iconfont">&#xe622;</i></a>
                                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="iconfont">&#xe608;</i></a>
                                                <a href="cart.html" class="action cart" title="Cart"><i class="iconfont">&#xe63f;</i></a>
                                            </div>
                                        </div>

                                        <div class="content">
                                            <h5 class="title"><a href="single-product.html">荷兰侏儒兔</a></h5>
                                            <span class="rating">
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe9a2;</i>
                                                <i class="iconfont">&#xe9a1;</i>
                                                <i class="iconfont">&#xe9a1;</i>
                                            </span>
                                            <span class="price">
                                                <span class="new">￥80.50</span>
                                                <span class="old">￥85.80</span>
                                            </span>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-3 product-wrapper m-b-40">
                                    <div class="product">
                                        <div class="thumb">
                                            <a href="single-product.html" class="image">
                                                <img class="fit-image" src="~/Content/PetIndex/Product/3.png" />
                                            </a>
                                            <span class="badges">
                                                <span class="new">New</span>
                                            </span>
                                            <div class="action-wrapper">
                                                <a href="#/" class="action quickview" data-bs-toggle="modal" data-bs-target="#quick-view"><i class="iconfont">&#xe622;</i></a>
                                                <a href="wishlist.html" class="action wishlist" title="Wishlist"><i class="iconfont">&#xe608;</i></a>
                                                <a href="cart.html" class="action cart" title="Cart"><i class="iconfont">&#xe63f;</i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a href="single-product.html">Wait, You Need This</a></h5>
                                            <span class="rating">
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe64a;</i>
                                                <i class="iconfont">&#xe9a2;</i>
                                                <i class="iconfont">&#xe9a1;</i>
                                                <i class="iconfont">&#xe9a1;</i>
                                            </span>
                                            <span class="price">
                                                <span class="new">￥90.00</span>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

                                <div class="section section-margin"></div>

                                <div class="section"></div>

                                <div class="section bg-name-bright section-padding section-margin"></div>

                                <div class="section section-margin-bottom"></div>

                                <footer class="section footer-section"></footer>

                                <div class="modalquickview modal fade" id="quick-view" tabindex="-1" aria-labelledby="quick-view" role="dialog" aria-hidden="true"></div>

                                <a href="#" class="scroll-top show" id="scroll-top">content</a>

                                <div class="mobile-menu-wrapper"></div>

                                <script src="~/Scripts/PetIndex/vendor.min.js"></script>
                                <script src="~/Scripts/PetIndex/plugins.min.js"></script>

                                <script src="~/Scripts/PetIndex/main.js"></script>

                                
</body>
</html>
